.autor {
    display: flex;
}

.container {
    width: 700px;
}

.autor .avatar {
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.autor .avatar img {
    width: 100%;
    display: block;
}

.autor .text {
    padding-left: 20px;
}

.blogContainer img {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 100%;
        padding: 12px;
        padding-top: 35px;
    }
}

input,
textarea {
    width: 100%;
    background: none;
    border: 3px solid black;
    margin-bottom: 15px;
    padding: 10px;
    max-width: 100%;
}

input:focus,
textarea:focus {
    outline: none;
}

form {
    position: relative;
}

form button {
    width: 100%;
    border: none;
    padding: 15px;
}

form button:hover {
    background: rgb(114, 202, 198) !important;
}

.newComment .avatar {
    width: 80px;
    padding: 10px;
}

.newComment img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.newComment .text {
    padding: 15px;
    width: 100%;
}

.counter {
    text-align: right;
    position: relative;
    top: -22px;
    margin: 0;
}

.messageComment {
    position: absolute;
    margin-top: -20px;
}

.commentary {
    padding: 15px;
    border-bottom: 2px solid #86adb3;
}

.commentary .avatar {
    width: 45px;
    height: 45px !important;
}

.commentary .text {
    width: 100%;
}

.commentary .time {
    font-size: 14px;
    font-weight: 500;
}