.autor {
    display: flex;
}

.autor .avatar {
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.principalArticle {
    width: 70%;
}

.moreArticles {
    width: 30%;
    padding-left: 25px;
}

.title {
    font-size: 35px;
    margin-bottom: 13px;
}

.date {
    font-size: 11px;
}

.date .span {
    font-weight: 800;
}

.imgPrincipalBlog {
    margin-bottom: 25px;
}

.moreArticles a * {
    margin-bottom: 8px;
    color: black !important;
    transition: .2s;
}

.moreArticles a:hover h3 {
    color: rgb(255, 174, 0);
}

.autor .avatar img {
    width: 100%;
    display: block;
}

.autor .text {
    padding-left: 20px;
}

.blogContainer {
    width: 88%;
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
}

.blogContainer img {
    width: 100%;
}

section {
    padding: 0;
    padding-top: 25px;
}

.backgroundArticle {
    height: 49vh;
}

@media only screen and (max-width: 700px) {
    .backgroundArticle {
        display: none;
    }
    .blogContainer {
        padding: 18px;
        padding-top: 35px;
        width: 100%;
        display: block;
    }
    .blogContainer>div {
        width: 100%;
    }
    .moreArticles {
        padding: 0;
        margin-bottom: 35px;
    }
    .moreArticles h5 {
        font-size: 25px;
        text-align: center;
    }
}

input,
textarea {
    width: 100%;
    background: none;
    border: 3px solid black;
    margin-bottom: 15px;
    padding: 10px;
    max-width: 100%;
}

input:focus,
textarea:focus {
    outline: none;
}

form {
    position: relative;
}

form button {
    width: 100%;
    border: none;
    padding: 15px;
}

form button:hover {
    background: rgb(114, 202, 198) !important;
}

.newComment .avatar {
    width: 80px;
    padding: 10px;
}

.newComment img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.newComment .text {
    padding: 15px;
    width: 100%;
}

.counter {
    text-align: right;
    position: relative;
    top: -22px;
    margin: 0;
}

.messageComment {
    position: absolute;
    margin-top: -20px;
}

.commentary {
    padding: 15px;
    border-bottom: 2px solid #ebd3b3;
}

.commentary .avatar {
    width: 45px;
    height: 45px !important;
}

.commentary .text {
    width: 100%;
}

.commentary .time {
    font-size: 14px;
    font-weight: 500;
}

.doubt {
    margin-bottom: 35px;
}

.doubt .text .fas {
    padding-right: 15px;
}

.doubt p {
    margin-bottom: 0;
}

.deleteP {
    color: #840202;
    font-size: 13px;
    cursor: pointer;
}

.deleteP .fas {
    padding-left: 8px;
}