.headBlog {
    height: 450px;
}

.blogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.blogContainer>div {
    width: 30%;
    margin-bottom: 40px;
}

@media only screen and (max-width: 700px) {
    .blogContainer {
        display: block;
        /* width: 92%; */
        padding: 10px;
        margin: 0 auto;
    }
    .blogContainer>div {
        width: 100%;
        margin-bottom: 40px;
    }
}