.sliderContent {
    height: 100vh;
    width: 100%;
}

.slide {
    height: 100%;
    display: flex;
    /* position: absolute; */
}

.slide-text {
    color: white;
    text-align: center;
    cursor: pointer;
}

.slide-text * {
    margin-bottom: 10px !important;
}

.slide-text p {
    text-shadow: 0 0 3px rgb(0, 0, 0) !important;
}

.slide-text h1 {
    font-size: 60px;
}

.slide-text h1 {
    font-size: 60px;
}


/* LUISGUILLEN */

.luisguillen {
    height: 500px;
    display: block;
}

.luisguillen img {
    height: -webkit-fill-available;
    display: block;
    margin: 0 auto;
}

.luisguillen .container {
    height: -webkit-fill-available;
}

.luisguillen .container div {
    width: 50%;
    height: 100%;
}

@media only screen and (max-width: 700px) {
    .luisguillen {
        height: auto;
    }
    .luisguillen>div {
        display: block;
    }
    .luisguillen .container div {
        width: 100%;
    }
    .luisguillen img {
        width: 60%;
        height: auto;
    }
    .luisguillen .container {
        height: inherit;
    }
}


/* COACHMENTAL SECTION */

.coachmental {
    height: 100vh;
}

.coachmental .container {
    background: white;
    padding-top: 20px;
}

.services div {
    width: 32%;
    padding: 15px;
}

.services {
    display: flex;
    padding: 40px;
}

.services div h3 {
    font-size: 70px;
}

@media only screen and (max-width: 700px) {
    .coachmental {
        height: auto;
        padding-bottom: 40px;
    }
    .services div {
        width: 100%;
        padding: 15px;
    }
    .services {
        display: block;
        padding: 10px;
    }
    .coachmental .container {
        background: rgba(255, 255, 255, 0.746);
    }
}


/* CONTACTAME SECTION */

.contactame {
    background: rgb(255, 196, 0);
    padding-bottom: 70px;
}

.contactame .container div {
    width: 50%;
}

input,
textarea {
    width: 100%;
    background: none;
    border: 3px solid black;
    margin-bottom: 15px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: none;
}

textarea {
    height: 120px;
    max-width: 100%;
}

form button {
    width: 100%;
}

form button:hover {
    background: rgba(255, 255, 255, 0) !important;
}

@media only screen and (max-width: 700px) {
    .contactame .container div {
        width: 100%;
    }
    .contactame .container {
        display: block;
    }
}


/* BLOG CONTAINE */

.blog {
    padding-bottom: 35px;
}

.blogContainer {
    justify-content: space-between
}

.blogContainer .blog-piece {
    width: 30%;
}

@media only screen and (max-width: 700px) {
    .blogContainer {
        display: block;
    }
    .blogContainer .blog-piece {
        width: 100%;
        margin-bottom: 17px;
    }
}


/* PROXIMO EVENTO { */

.cardBackground {
    background: white;
    padding: 35px;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}

.cardBackground .flex div {
    width: 50%;
    padding: 25px;
}

.textEvent p {
    margin-bottom: 15px;
}

.eventDivImg {
    width: 50%;
}

.eventDivImg img {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .cardBackground .flex {
        display: block
    }
    .cardBackground .flex div {
        width: 100%;
        padding: 15px;
    }
}