* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p {
    line-height: 1.6;
    margin-bottom: 18px;
}

a {
    color: unset;
    text-decoration: none;
    color: rgb(255, 174, 0);
}

.outMargin {
    margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

.roboto {
    font-family: 'Roboto', sans-serif !important;
}

.ABlack {
    font-family: 'Archivo Black', sans-serif !important;
}

.justify-text {
    text-align: justify;
}

.right-text {
    text-align: right;
}

.line {
    height: 2px !important;
    border-radius: 4px;
    background: black;
    width: 40px !important;
    margin-bottom: 25px;
}

header {
    position: fixed;
    height: 60px;
    width: 100%;
    background: rgb(19, 19, 19);
    top: 0;
}

header img {
    max-height: 100%;
    display: block;
}

header .container {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    justify-content: space-between;
    max-height: 100%;
    padding: 10px;
}

header .links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
}

header .links a.active {
    color: #fea000;
}

header .links {
    display: flex;
    align-items: center;
}

header .links.movil i {
    font-size: 35px;
    padding-top: 14px;
    padding-right: 12px;
}


/* menu movil */

.iconMenuContainer {
    color: white;
    font-size: 35px;
}

#movMenu {
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.808);
    height: 100vh;
    width: 100%;
    display: flex;
    transition: .5s;
}

#movMenu.inactive {
    display: none;
}

#movMenu.opacity {
    opacity: 0;
}

#movMenu .background {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.movMenuContainer {
    width: 82%;
    padding: 15px;
    z-index: 101;
}

.movMenuContainer a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 7px;
    font-size: 25px;
    border-bottom: 1px solid #999999;
}

.movMenuContainer a:last-child {
    border-bottom: none
}

.flex {
    display: flex;
}

.button {
    display: block;
    border: 2px solid black;
    padding: 7px 13px;
    color: white;
    background: black;
    transition: .35s;
    cursor: pointer;
}

.button:hover {
    color: rgb(68, 68, 68);
    background: rgba(255, 255, 255, 0);
}

section {
    padding: 45px 20px 0 20px;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.backgroundImg {
    background-size: cover;
    background-position: center;
}

.centerElements {
    align-items: center;
    justify-content: center;
}

.absolute {
    position: absolute;
}

.centerText {
    text-align: center;
}


/* FOOTER */

footer {
    padding: 30px 15px;
    color: #fff;
    background: #2e2e2e;
}

footer img {
    height: 35px;
    position: relative;
    top: 13px;
    margin-left: 10px;
}

.social-icons {
    list-style: none;
    padding-top: 10px;
}

.social-icons li {
    display: inline;
    margin-right: 8px;
    color: white;
}

.social-icons a {
    color: white;
}

footer>div {
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    .social-icons {
        width: max-content;
        margin: 0 auto;
    }
}

.blueFont {
    color: #00C6C1;
}


/* BLOG */

.blog-piece {
    /* border: 1px solid rgb(197, 197, 197);] */
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    transition: all .25s;
}

.blog-piece:hover {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15);
}

.blog-piece img {
    width: 100%;
    display: block;
}

.blog-piece div {
    padding: 15px;
}

.blog-piece p {
    font-size: 14px;
}

.blog-piece hr {
    margin-bottom: 10px;
}

.dataBlog {
    color: rgb(65, 65, 65);
}

.dataBlog h3 {
    margin-bottom: 10px;
}

.dataBlog p {
    font-size: 12px;
    margin-bottom: 10px;
}

.dataBlog a {
    font-weight: 800;
}

.infBlog {
    border-top: 1px rgb(218, 218, 218) solid;
    color: rgb(121, 121, 121);
    font-size: 11px;
    padding: 8px 15px;
}

.movil {
    display: none !important;
}

@media only screen and (max-width: 700px) {
    .pc {
        display: none !important;
    }
    .movil {
        display: block !important;
    }
}

.loginFacebookBtn button {
    padding: 15px;
    border: none;
    background: rgb(23, 108, 204);
    color: white;
    margin: 0 auto;
    display: block;
}

.navSpace {
    height: 60px;
}

.navPadding {
    padding-top: 60px;
}

.principalColor {
    color: #fea000 !important;
}