* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p {
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Archivo Black', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif !important;
}

.ABlack {
    font-family: 'Archivo Black', sans-serif !important;
}

.line {
    height: 2px !important;
    border-radius: 4px;
    background: black;
    width: 40px !important;
    margin-bottom: 25px;
}

header {
    position: fixed;
    height: 80px;
    width: 100%;
    background: white;
    top: 0;
}

header img {
    max-height: 100%;
    display: block;
}

header .container {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: space-between;
    max-height: 100%;
    padding: 10px;
}

header .links a {
    text-decoration: none;
    color: rgb(42, 42, 42);
    margin: 0 10px;
}

header .links a.active {
    color: #00C6C1
}

header .links {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.button {
    display: block;
    border: 2px solid black;
    padding: 7px 13px;
    color: white;
    background: black;
    transition: .35s;
    cursor: pointer;
}

.button:hover {
    color: rgb(68, 68, 68);
    background: rgba(255, 255, 255, 0);
}

section {
    padding-top: 45px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.backgroundImg {
    background-size: cover;
    background-position: center;
}

.centerElements {
    align-items: center;
    justify-content: center;
}

.absolute {
    position: absolute;
}

.centerText {
    text-align: center;
}


/* FOOTER */

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #2e2e2e;
}

footer img {
    height: 35px;
    position: relative;
    top: 13px;
    margin-left: 10px;
}

.social-icons {
    list-style: none;
    padding-top: 10px;
}

.social-icons li {
    display: inline;
    margin-right: 8px;
    color: white;
}

.social-icons a {
    color: white;
}

footer>div {
    justify-content: space-between;
}

.blueFont {
    color: #00C6C1;
}


/* BLOG */

.blog-piece {
    border: 1px solid rgb(197, 197, 197);
}

.blog-piece img {
    width: 100%;
    display: block;
}

.blog-piece div {
    padding: 20px;
}

.blog-piece p {
    font-size: 14px;
}

.blog-piece hr {
    margin-bottom: 10px;
}